<div class='weather_container'>
    <div class='main_weather_container'>
        <div class='temp' id='day-temp0'>--&deg</div>
        <div class='location' id='location'>New York, US</div>
    </div>
    <%=five_day_render%>
</div>

<%= javascript_pack_tag 'weather' %>