<div class='weather_container'>

    <div class='main_weather_container'>
        <div class='temp'>72<span>&#176;</span></div>
        <div class='location'>Durham, NC</div>
    </div>
    <div class='secondary_weather_container'>
        <div class='temp'>82<span>&#176;</span></div>
        <div class='day'>Thursday</div>
    </div>
    <div class='secondary_weather_container'>
        <div class='temp'>82<span>&#176;</span></div>
        <div class='day'>Thursday</div>
    </div>
        <div class='secondary_weather_container'>
        <div class='temp'>82<span>&#176;</span></div>
        <div class='day'>Thursday</div>
    </div>
        <div class='secondary_weather_container'>
        <div class='temp'>82<span>&#176;</span></div>
        <div class='day'>Thursday</div>
    </div>
        <div class='secondary_weather_container'>
        <div class='temp'>82<span>&#176;</span></div>
        <div class='day'>Thursday</div>
    </div>
</div>